<?xml version="1.0"?>
<!--
/*
 * @category  Mageho
 * @package   Mageho_All
 * @copyright Copyright (c) 2012 - 2013  Mageho (http://www.mageho.com)
 * @license     http://www.mageho.com/license  Proprietary License
 */
-->
<config>
	<modules>
		<Mageho_All>
			<version>1.0.0</version>
		</Mageho_All>
	</modules>
	
	<global>
		<blocks>
			<magehoall><class>Mageho_All_Block</class></magehoall>
		</blocks>
		
		<models>
			<magehoall><class>Mageho_All_Model</class></magehoall>
		</models>
		
		<helpers>
			<magehoall><class>Mageho_All_Helper</class></magehoall>
		</helpers>
	</global>
	
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<magehoall>
											<title>Mageho</title>
										</magehoall>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
        <translate>
            <modules>
                <Mageho_All>
                    <files>
                        <default>Mageho_All.csv</default>
                    </files>
                </Mageho_All>
            </modules>
        </translate>
	</adminhtml>
</config>