<?xml version="1.0"?>
<!--
/*
 * @category  Mageho
 * @package   Mageho_All
 * @copyright Copyright (c) 2012 - 2013  Mageho (http://www.mageho.com)
 * @license     http://www.mageho.com/license  Proprietary License
 */
-->
<config>
    <tabs>
        <mageho translate="label" module="magehoall">
            <label>Mageho</label>
            <sort_order>300</sort_order>
        </mageho>
    </tabs>
	<sections>
		<magehoall translate="label" module="magehoall">
			<label>Info</label>
			<tab>mageho</tab>
			<frontend_type>text</frontend_type>
			<sort_order>0</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
                <extensions translate="label">
                    <label>Installed Mageho Extensions</label>
                    <frontend_type>text</frontend_type>
                    <frontend_model>magehoall/system_config_form_fieldset_extensions</frontend_model>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </extensions>	
			</groups>
		</magehoall>
	</sections>
</config>